:root{
    --cor-fundo: #00008B ;
    --cor-principal:#4ba8ff ;
    --cor-secundaria: #c300ff60; 
    --cor-destaque: #a12eff;
    --cor-texto: #000000;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius:30px
    ;
}

h1{
    color: var(--cor-destaque);
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 12px;
    transition: background-color 0.05s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
